<div class="login-box-body" *ngIf="form">
    <p class="login-box-msg">
      <strong *ngIf="rememberedCredentials.name">{{ rememberedCredentials.name }}</strong>
      <br>
      <span >{{ rememberedCredentials.login }}</span>
    </p>

    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="form-group" appErrorGroup>
        <input
          formControlName="password"
            type="password"
            class="form-control"
            [disabled]="loading"
            placeholder="Senha"
            focusable
          />
      </div>
      <div class="text-center">
        <app-error-message controlName="password" label="Senha"></app-error-message>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <app-submit-button btnClass="btn btn-primary btn-block btn-flat btn-signin" [loading]="loading">
            Entrar no sistema
          </app-submit-button>
        </div>
      </div>
    </form>

    <br>
    <div class="row">
      <div class="col-xs-12 col-md-12">
          <p class="text-center">
            <a href="javascript:" (click)="forgetRememberedCredentials()" class="text-center new-account">
              <span class="fa fa-user"></span> Acessar com um usuário diferente
            </a>
          </p>
      </div>
    </div>
</div>