<!--<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title clearfix" style="line-height: 2">
          <i class="fa fa-connectdevelop "></i> Dados da Companhia
    </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <app-info-table [data]="leftColumn"></app-info-table>
      </div>

    </div>
  </div>
</div>-->
<div class="row">
  <div class="col-xs-12">
    <app-info-table [data]="leftColumn"></app-info-table>
  </div>
</div>
