<div class="row" *ngIf="form">
  <div class="col-xs-offset-3 col-xs-6">
    <form (ngSubmit)="submit()"
      [formGroup]="form">
      <div class="panel panel-default">
        <div class="panel-heading">
          Alterar senha
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <fieldset [disabled]="loading">
              <div class="form-group" appErrorGroup>
                  <label class="control-label col-md-4 text-right" for="oldPassword">Senha atual</label>
                  <div class="col-md-8">
                    <input id="oldPassword"
                            formControlName="oldPassword"
                            maxlength="255"
                            type="password"
                            class="form-control" />
                    <app-error-message controlName="oldPassword" label="Senha atual"></app-error-message>
                  </div>
                </div>
                <div class="form-group" appErrorGroup>
                  <label class="control-label col-md-4 text-right" for="password">Nova senha</label>
                  <div class="col-md-8">
                    <input id="password"
                            formControlName="password"
                            maxlength="255"
                            type="password"
                            class="form-control" />
                    <app-error-message controlName="password" label="Nova senha"></app-error-message>
                  </div>
                </div>
                <div class="form-group" appErrorGroup>
                  <label class="control-label col-md-4 text-right" for="passwordConfirmation">Confirmação da nova senha</label>
                  <div class="col-md-8">
                    <input id="passwordConfirmation"
                            formControlName="passwordConfirmation"
                            maxlength="255"
                            type="password"
                            class="form-control" />
                    <app-error-message controlName="passwordConfirmation" label="Confirmação da nova senha"></app-error-message>
                  </div>
                </div>
              </fieldset>
          </div>
        </div>
        <div class="panel-footer text-right">
          <app-submit-button [loading]="loading">Salvar</app-submit-button>
        </div>
      </div>
    </form>
  </div>
</div>
