<div class="modal fade" appModal (close)="close.emit(null)" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Confirmação</h3>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <button *ngIf="showLabelNo == 'true'"
          type="button" 
          class="btn btn-default btn-size" 
          data-dismiss="modal">{{ noLabel ? noLabel : 'Cancelar'  }}</button>
        <button
          type="button"
          class="btn btn-size"
          (click)="executeConfirm()"
          [class.btn-success]="buttonClass === 'btn-success'"
          [class.btn-danger]="buttonClass === 'btn-danger'"
        >{{ yesLabel ? yesLabel : 'Ok' }}</button>
      </div>
    </div>
  </div>
</div>