<section class="content-header">
  <h1>
    <small>Cadastro</small>
    Ponto de controle
  </h1>
  <app-breadcrumb [items]="[
    ['Início', ''],
    ['Pontos de Controle', '/checkpoint'],
    ['Cadastro de Pontos de Controle', null]
  ]">
  </app-breadcrumb>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <form
        (ngSubmit)="save()"
        [formGroup]="form"
        *ngIf="form"
        class="form-horizontal"
      >
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
          </div>

          <div class="panel-body">
            <fieldset [disabled]="loading">
              <!-- <fieldset [disabled]="disableCode" appErrorGroup>
              <div class="form-group" appErrorGroup>
                <div class="col-md-10">
                  <input id="code"
                            [textMask]="integerMask"
                          [formControl]="form.get('code')"
                          type="hidden"
                          maxlength="9"
                          class="form-control" />
                  <app-error-message controlName="code" label="Codigo"></app-error-message>
                </div>
              </div>
              </fieldset> -->
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right" for="name">Nome*</label>
                <div class="col-md-10">
                  <input [formControl]="form.get('name')"
                          type="text"
                          maxlength="200"
                          class="form-control" />
                  <app-error-message controlName="name" label="Nome"></app-error-message>
                </div>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right" for="description">Descrição*</label>
                <div class="col-md-10">
                  <input [formControl]="form.get('description')"
                          type="text"
                          maxlength="200"
                          class="form-control" />
                  <app-error-message controlName="description" label="Descrição"></app-error-message>
                </div>
              </div>

              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right">Container: </label>
                <div>
                  <label class="control-label col-md-2 text-right" for="containerStacking">Empilhamento</label>
                  <div class="checkpoint-checkbox col-md-1">
                    <input
                    [formControl]="form.get('containerStacking')"
                    type="checkbox"
                    />
                    <app-error-message controlName="containerStacking" label="Empilhamento"></app-error-message>
                  </div>
                </div>
                <div>
                  <label class="control-label col-md-2 text-right" for="containerWithdrawal">Retirada</label>
                  <div class="checkpoint-checkbox col-md-1">
                    <input
                    [formControl]="form.get('containerWithdrawal')"
                    type="checkbox"
                    />
                    <app-error-message controlName="containerWithdrawal" label="Retirada"></app-error-message>
                  </div>
                </div>
                <div>
                  <label class="control-label col-md-2 text-right" for="containerSeal">Informar lacre</label>
                  <div class="checkpoint-checkbox col-md-1">
                    <input
                    [formControl]="form.get('containerSeal')"
                    type="checkbox"
                    />
                    <app-error-message controlName="containerSeal" label="Informar lacre"></app-error-message>
                  </div>
                </div>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right">Integração: </label>
                <select class="col-md-9" name="" id="">
                  <option value=""></option>
                </select>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right">Balança: </label>
                <select class="col-md-9" name="" id="">
                  <option value=""></option>
                </select>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right">Opções: </label>
                <div>
                  <label class="control-label col-md-1 text-right" for="supervisor">Supervisão</label>
                  <div class="checkpoint-checkbox col-md-1">
                    <input
                    [formControl]="form.get('supervisor')"
                    type="checkbox"
                    />
                    <app-error-message controlName="supervisor" label="Supervisão"></app-error-message>
                  </div>
                </div>
                <div>
                  <label class="control-label col-md-3 text-right" for="alterMotacesso">Alterar Motivo de acesso</label>
                  <div class="checkpoint-checkbox col-md-1">
                    <input
                    [formControl]="form.get('alterMotacesso')"
                    type="checkbox"
                    />
                    <app-error-message controlName="alterMotacesso" label="Alterar Motivo de acesso"></app-error-message>
                  </div>
                </div>
                <div>
                  <label class="control-label col-md-2 text-right" for="vehicleRegister">Informar número DUE</label>
                  <div class="checkpoint-checkbox col-md-1">
                    <input
                    [formControl]="form.get('vehicleRegister')"
                    type="checkbox"
                    />
                    <app-error-message controlName="vehicleRegister" label="Informar número DUE"></app-error-message>
                  </div>
                </div>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right">Tempo de Duração: </label>
                <input class="col-md-1" type="number" [formControl]="form.get('checkpointTime')">
                <b class="control-label col-md-1">Minuto(s)</b>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right" for="justification">Justificativa: </label>
                <div class="checkpoint-checkbox col-md-1">
                  <input
                  [formControl]="form.get('justification')"
                  type="checkbox"
                  />
                </div>
                <div class="col-md-9" *ngIf="justify">
                  <b class="control-label col-md-2">Maximo de</b>
                  <input class="col-md-2" type="number" [formControl]="form.get('maxChrJustification')">
                  <b class="control-label col-md-1">caracter(es)</b>
                </div>
                <app-error-message controlName="justification" label="Justificativa"></app-error-message>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right">Status Final: </label>
                <div>
                  <label class="control-label col-md-1 text-right" for="finalizado">Finalizado</label>
                  <div class="checkpoint-checkbox col-md-1">
                    <input
                    [formControl]="form.get('finalizado')"
                    type="checkbox"
                    />
                    <app-error-message controlName="finalizado" label="Finalizado"></app-error-message>
                  </div>
                </div>
                <div>
                  <a class="col-md-2 btn btn-primary" (click)="modalStatus()">Personalizado</a>
                </div>
                <div class="col-md-6" *ngIf="!statusFinalizado && listStatus.length">
                  <select name="" id="">
                    <option value="" *ngFor="let status of listStatus">{{status.name}}</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="box-footer">
            <div class="row">
              <div class="col-sm-offset-2">
                <div class="col-sm-10 mb10">
                  <app-submit-button [loading]="loading">
                    SALVAR
                  </app-submit-button>
                  <a [class.disabled]="loading"
                      routerLink="/checkpoint"
                      class="btn btn-default btn-size">
                    VOLTAR
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="modal fade" appModal (close)="criarStatus.close()" tabindex="-1" role="dialog"
*ngIf="criarStatus.opened">

<div class="modal-dialog" role="document" style="width: 90%;">
  <div class="modal-content">
    <app-checkpoint-status-form
    [statusModal]="criarStatus"
    [statusForm]="criarStatus.value"
    [checkpointStatus]="checkpointStatus"
    [listStatus]="listStatus">
    </app-checkpoint-status-form>
    <!-- <app-checkpoint-form></app-checkpoint-form> -->
  </div>
</div>
</div>
